<nav [class.mat-elevation-z4]="true" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav" *ngIf="!router['url'].includes('/maintanance')">
    <div class="container">
        <a routerLink="/" class="navbar-brand"><img src="assets/images/logo-nav.png" style="width: 150px;"></a>
        <button style="border: 1px solid white; margin-top: -5px;" mat-stroked-button class="navbar-toggler" [attr.tabindex]="-1" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" [matMenuTriggerFor]="menu">
            <i style="color: white;" class="material-icons">menu</i>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<mat-menu #menu="matMenu">
    <a style="outline: none; text-decoration: none;" [attr.tabindex]="-1" routerLink="/home" mat-menu-item>Home</a>
    <a style="outline: none; text-decoration: none;" [attr.tabindex]="1" routerLink="/blog" mat-menu-item>Blog</a>
    <a style="outline: none; text-decoration: none;" [attr.tabindex]="-1" routerLink="/about" mat-menu-item>About</a>
</mat-menu>
<div class="content-root">
    <router-outlet></router-outlet>
</div>
<footer class="py-4 blue text-white-50" *ngIf="!router['url'].includes('/maintanance')">
    <div class="container text-center">
        <label>&copy; 2019 DAZELPRO | Made with &#10084; using Angular 8.2.14</label>
    </div>
</footer>